In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda')
# sas_html = saspy.SASsession(cfgname='oda', results='HTML')

SAS Connection established. Subprocess id is 18068

In [10]:
import pandas as pd
import numpy as np

In [2]:
cars = sas.sasdata('cars', libref='sashelp')

### transformations

In [ ]:
wkcars = sas.sasdata('wkcars')
cars.add_vars({'PW_ratio': 'weight / horsepower', 'Overhang' : 'length - wheelbase'}, wkcars)
wkcars.head()

Table WORK.wkcars does not exist. This SASdata object will not be useful until the data set is created.

23                                                         The SAS System                      Wednesday, April  3, 2024 11:58:00 AM

130
131        data WORK.'wkcars'n ; set sashelp.'cars'n ;
132        PW_ratio = weight / horsepower;
133        Overhang = length - wheelbase;
134        ; run;
135
136
137

24                                                         The SAS System                      Wednesday, April  3, 2024 11:58:00 AM

138

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,PW_ratio,Overhang
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,16.796226,83.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,13.890000,71.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,16.150000,78.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,13.240741,78.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,17.244444,82.0

In [ ]:
wkcars = sas.sasdata('wkcars')
cars.score(code="""
    score = msrp + 1000 * horsepower - 100 * weight;
""", out=wkcars)
wkcars.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,score
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,-143155.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,-53980.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,-96010.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,-54305.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,-119245.0

In [ ]:
df = cars.to_df().loc[:1]
tmp = sas.df2sd(df, 'tmp')
tmp.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [ ]:
tmp.append(df)
tmp.head()

255                                                        The SAS System                      Wednesday, April  3, 2024 11:58:00 AM

1985
1986       proc append base=WORK.'tmp'n
1987                   data=WORK.'_temp_df'n;
1988       run;
1989
1990
1991

256                                                        The SAS System                      Wednesday, April  3, 2024 11:58:00 AM

1992

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
3,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [ ]:
cars.impute()

<bound method SASdata.impute of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>

In [ ]:
cars.modify()

<bound method SASdata.modify of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>

In [ ]:
cars.partition()

<bound method SASdata.partition of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>

In [ ]:
cars.sort()

<bound method SASdata.sort of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>

In [ ]:
cars.where()

<bound method SASdata.where of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>