In [1]:
import saspy
sas = saspy.SASsession()

Using SAS Config named: oda
SAS Connection established. Subprocess id is 4648

In [7]:
sd = sas.sasdata("cars","sashelp")
df = sd.to_df()
sd.columnInfo()

,Member,Num,Variable,Type,Len,Pos,Format,Label
0,SASHELP.CARS,9.0,Cylinders,Num,8.0,24.0,NaN,NaN
1,SASHELP.CARS,5.0,DriveTrain,Char,5.0,147.0,NaN,NaN
2,SASHELP.CARS,8.0,EngineSize,Num,8.0,16.0,NaN,Engine Size (L)
3,SASHELP.CARS,10.0,Horsepower,Num,8.0,32.0,NaN,NaN
4,SASHELP.CARS,7.0,Invoice,Num,8.0,8.0,DOLLAR8.,NaN
5,SASHELP.CARS,15.0,Length,Num,8.0,72.0,NaN,Length (IN)
6,SASHELP.CARS,11.0,MPG_City,Num,8.0,40.0,NaN,MPG (City)
7,SASHELP.CARS,12.0,MPG_Highway,Num,8.0,48.0,NaN,MPG (Highway)
8,SASHELP.CARS,6.0,MSRP,Num,8.0,0.0,DOLLAR8.,NaN
9,SASHELP.CARS,1.0,Make,Char,13.0,80.0,NaN,NaN
10,SASHELP.CARS,2.0,Model,Char,40.0,93.0,NaN,NaN
11,SASHELP.CARS,4.0,Origin,Char,6.0,141.0,NaN,NaN
12,SASHELP.CARS,3.0,Type,Char,8.0,133.0,NaN,NaN
13,SASHELP.CARS,13.0,Weight,Num,8.0,56.0,NaN,Weight (LBS)
14,SASHELP.CARS,14.0,Wheelbase,Num,8.0,64.0,NaN,Wheelbase (IN)

In [8]:
sas.df2sd(df, "cars2", "work")
sas.sasdata("cars2","work").columnInfo()

        Member   Num     Variable  Type   Len    Pos
0   WORK.CARS2   9.0    Cylinders   Num   8.0   24.0
1   WORK.CARS2   5.0   DriveTrain  Char   5.0  144.0
2   WORK.CARS2   8.0   EngineSize   Num   8.0   16.0
3   WORK.CARS2  10.0   Horsepower   Num   8.0   32.0
4   WORK.CARS2   7.0      Invoice   Num   8.0    8.0
5   WORK.CARS2  15.0       Length   Num   8.0   72.0
6   WORK.CARS2  11.0     MPG_City   Num   8.0   40.0
7   WORK.CARS2  12.0  MPG_Highway   Num   8.0   48.0
8   WORK.CARS2   6.0         MSRP   Num   8.0    0.0
9   WORK.CARS2   1.0         Make  Char  13.0   80.0
10  WORK.CARS2   2.0        Model  Char  39.0   93.0
11  WORK.CARS2   4.0       Origin  Char   6.0  138.0
12  WORK.CARS2   3.0         Type  Char   6.0  132.0
13  WORK.CARS2  13.0       Weight   Num   8.0   56.0
14  WORK.CARS2  14.0    Wheelbase   Num   8.0   64.0